---

---

<div class="fondo" transition:animate="none">
  <div class="cabecera">
    <div class="overlap-group">
      <div class="text-wrapper">Patrón Pepe Ramos</div>
    </div>
  </div>
</div>

<style>
 .fondo .overlap-group {
  position: relative;
  width: 100vw; /* Cambiado de 100% a 100vw */
  height: 360px;
  background-image: url("back.webp");
  background-size: cover;
  background-position: 50% 50%;
}

.fondo .text-wrapper {
  position: absolute;
  width: 713px;
  top: 100px;
  left: 100px;
  font-family: "Cinzel";
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

}
.fondo{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

}
</style>
