<div class="bordes">
<a href="/#vista">1</a>
<a href="/imgen/dos#vista">2</a>
<a href="/imgen/tres#vista">3</a>
<a href="/imgen/cuatro#vista">4</a>

</div>
<style>
    div{
        padding: 1rem;
        text-align: center;
    }
    .bordes{
        background-color: aqua;
    }
</style>